body {
  height: 90vh;
  font-family: "Arial", sans-serif;
  color: white;
  padding: 12px;
}

#greeting-box,
#login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-box img {
  width: 100px;
  height: 100px;
  margin-bottom: 180px;
}
#login-form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2.5px solid white;
  font-size: 38px;
  color: white;
  width: 525px;
  text-align: center;
}

#name-question {
  font-size: 48px;
  margin-bottom: 24px;
}

#status-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 160px;
}
#status-bar #link span {
  margin-right: 12px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#weather #weather-status span {
  font-size: 26px;
}
#weather #weather-status i {
  font-size: 20px;
  margin-left: 10px;
}
#weather #city {
  font-size: 14px;
}

#clock {
  font-size: 160px;
  margin-bottom: -8px;
}
#greeting {
  font-size: 60px;
  margin-bottom: 20px;
}

#todo-question {
  font-size: 36px;
  margin-bottom: 6px;
}
#todo-form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
  font-size: 38px;
  color: white;
  width: 550px;
  text-align: center;
}
#todo-form input:focus {
  outline: none;
}

#todo-bubble {
  width: 320px;
  height: 280px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  position: absolute;
  bottom: 48px;
  right: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}
#todo-bubble #today-span {
  color: #2c2c2c;
  font-size: 24px;
  padding: 16px;
}
#todo-box {
  width: 320px;
  height: 220px;
  overflow: auto;
}
#todo-box::-webkit-scrollbar {
  background-color: white;
  width: 18px;
}
#todo-box::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
#todo-box #todo-list {
  color: #2c2c2c;
}
#todo-box button {
  background: none;
  border: none;
  cursor: pointer;
}

#todo-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
#todo-button:hover {
  opacity: 1;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 16px;
}
#quote span:first-child {
  font-size: 20px;
}

.hidden {
  display: none !important;
}

.opacity {
  opacity: 0.6;
}
